body {
  font-family: 'Poppins', sans-serif;
  background-image: url("../images/bg.png");
  background-repeat: repeat-y;
  background-attachment: fixed;
  background-position: top;
}

/* Grid CSS */
.pollyimage {
  height: 400px;
  width: 400px;
  position: relative;
  padding: 30px;
}

/* NEW GRID*/
.containerGrid {
display: grid;
height: 500px;
justify-content: center;
grid-template-columns: 1fr 1fr;
grid-template-rows: 1fr 1fr;
grid-template-areas: 
  "topRow topRow topRow"
  " leftSidebar rightContent rightContent";
}
.row{
  padding: 10px;
}

.topRow {
  grid-area: topRow;
  justify-content: center;
}
.leftSidebar {
  grid-area: leftSidebar;
  padding-top: -10;
;
}
.rightContent {
  grid-area: rightContent;
}

/* Category Grid CSS */

.subHeading {
  text-align: center;
  border-bottom: 2px solid black;
  width: 300px;
  margin: 50px auto;
}


.right {
  padding: 15px;
  align-content: flex-end;
}


/* Navigation CSS */
/* CHECK OUT THIS CODE BELOW IF YOU WANT TO GET A REFRESHER ON FLEX */

#navBar {
  display: flex;
  flex-direction: row;
  text-align: left;
  margin: 0px 5%;
  background-color: #56A9AF;
  overflow: hidden;
}

#navBar h1 {
  width: 50%;
  font-weight: 300;
  padding-left: 25px;
  color: #fff;
}

#navigation {
  display: flex;
  width: 50%;
  text-align: float-end;
  justify-content: space-evenly;
  padding-top: 10px;
  color: #fff;
}
#navigation p {
  cursor: pointer;
  text-decoration: none;
}

.highlight {
  color: #fff;
  font-weight: 700;
}


/* Typography CSS */

h2 {
  font-size: 24px;
  margin: 0px 0px;
  color: #56A9AF;
}

h3 {
  font-size: 24px;
  font-weight: 300;
  margin: 0px 0px;
  color: #fff;
  padding: 15px;
}

h4 {
  color: white;
  font-weight: 400;
  font-size: 22px;
}


#headline p {
  max-width: 350px;
  font-size: 16px;
  font-weight: 300;
  margin: 0px 0px;
  color: #636364;
}

