body {
  font-family: 'Poppins', sans-serif;
  background-image: url("../images/bg.png");
  background-repeat: repeat-y;
  background-attachment: fixed;
  background-position: top;
}

/* Grid CSS */
.pollyimage {
  height: 400px;
  width: 400px;
  position: relative;
  padding: 30px;
}

/* Category Grid CSS */

.subHeading {
  text-align: center;
  border-bottom: 1px solid rgb(124, 123, 123);
  width: 200px;
  margin: 50px auto;
}

.right {
  padding: 15px;
  align-content: flex-end;
}


/* Navigation CSS */
/* CHECK OUT THIS CODE BELOW IF YOU WANT TO GET A REFRESHER ON FLEX */



.navbar {
  background-color: #56A9AF !important;
}

.customNav  {
  background-color: #56A9AF !important;
}

#navBar h1 {
  width: 50%;
  font-weight: 300;
  padding-left: 40px;
  color: #fff;
}

#navigation {
  width: 20%;
  padding-top: 20px;
  color: #fff;
}

#navigation p {
  cursor: pointer;
  text-decoration: none;
}

.highlight {
  color: #fff;
  font-weight: 700;
}


/* Typography CSS */

h2 {
  font-size: 24px;
  margin: 0px 0px;
  color: #56A9AF;
}

h3 {
  font-size: 24px;
  font-weight: 300;
  margin: 0px 0px;
  color: #fff;
  padding: 15px;
}

h4 {
  color: white;
  font-weight: 400;
  font-size: 22px;
}


#headline p {
  max-width: 350px;
  font-size: 16px;
  font-weight: 300;
  margin: 0px 0px;
  color: #636364;
}

.btn {
  background-color: #56A9AF;
  border: #636364;
}

.footerBar {
  size: 100%;
  color: #56A9AF;
}